doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    style.
      html {
        background: rgb(200, 285, 300);
      }

      #commentTime {
        font-size: 17px;
      }
      #comment {
        font-size: 20px;
        font-weight: 600;
      }
      #title {
        font-size: 52px;
        font-weight: bold;
      }
      #subtitle {
        font-size: 28px;
      }
      #authortitle{
        font-size: 42px;
      }
      #pagetitle{
        font-size: 32px;
      }

    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  body
    
    block content
    block foot
      #footer
        p Web Applications Social Channel by Leevi Alho
        p Made for the course "Web Applications"
